tasszz2k
/HelloWorldWeb/nbproject/private/
/HelloWorldWeb/build/
/HelloWord2/nbproject/private/
/HelloWord2/build/
/HelloWeb/nbproject/private/
/HelloWeb/build/
/WebApplication1_1/nbproject/private/
/WebApplication1_1/build/
/Hello/nbproject/private/
/Hello/build/
/HelloWorld/nbproject/private/
/HelloWorld/build/