<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServerlet</servlet-name>
        <servlet-class>LoginServerlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServerlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>user</param-name>
        <param-value>tass</param-value>
    </context-param>
    <context-param>
        <param-name>pwd</param-name>
        <param-value>1</param-value>
    </context-param>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
